<div class="flex flex-col container mx-auto mt-4 gap-4" id="table">
  <table class="min-w-full border-collapse block md:table">
    <thead class="block md:table-header-group">
      <tr
        class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative"
      >
        <th
          class="bg-gray-100 p-2 text-gray-800 font-bold md:border md:border-grey-500 text-left block md:table-cell"
          *ngFor="let column of columns"
        >
          {{ column.label }}
        </th>
        <th
          class="bg-gray-100 p-2 text-gray-800 font-bold md:border md:border-grey-500 text-left block md:table-cell"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="block md:table-row-group">
      <tr
        *ngFor="let row of data"
        class="bg-gray-300 border border-grey-500 md:border-none block md:table-row"
      >
        <td
          class="p-2 md:border md:border-grey-500 text-left"
          *ngFor="let column of columns"
          (dblclick)="
            column.editable && !isEditingCell(column.key, row.id)
              ? setEditingField(
                  column.key,
                  row.id,
                  row[column.key],
                  column.type
                )
              : null
          "
        >
          <app-row-cell
            [cell]="{
              rowId: row.id,
              columnKey: column.key,
              value: row[column.key],
              type: column.type
            }"
            [isEditingCell]="isEditingCell(column.key, row.id)"
          >
          </app-row-cell>
        </td>
        <td class="p-2 md:border md:border-grey-500 text-left">
          <app-row-actions
            [rowId]="row.id"
            [deleteRow]="boundDeleteRow"
          ></app-row-actions>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="addRow()"
  >
    Add Row
  </button>
</div>
