<div class="container mx-auto mt-4">
  <table class="min-w-full border-collapse block md:table">
    <thead class="block md:table-header-group">
      <tr
        class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative"
      >
        <th
          class="bg-gray-100 p-2 text-gray-800 font-bold md:border md:border-grey-500 text-left block md:table-cell"
          *ngFor="let column of columns"
        >
          {{ column.label }}
        </th>
      </tr>
    </thead>
    <tbody class="block md:table-row-group">
      <tr
        *ngFor="let item of data"
        class="bg-gray-300 border border-grey-500 md:border-none block md:table-row"
      >
        <td
          class="p-2 md:border md:border-grey-500 text-left block md:table-cell"
          *ngFor="let column of columns"
        >
          <div
            *ngIf="!isEditingCell(column.key, item.id)"
            (dblclick)="
              column.editable
                ? setEditingField(
                    column.key,
                    item.id,
                    item[column.key],
                    column.type
                  )
                : null
            "
          >
            {{ item[column.key] }}
          </div>
          <ng-container *ngIf="isEditingCell(column.key, item.id)">
            <input
              [(ngModel)]="item[column.key]"
              [type]="column.type"
              class="border border-gray-400 p-2 w-auto"
            />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
